---
layout: default
title: "Join GitLab"
description: "Help the world build better software"
canonical_path: "/jobs/"
twitter_image: '/images/opengraph/Talent-Brand/hiring-group-shot-sko.png'
twitter_image_alt: "Image of GitLab Team Members gathered at an event"
twitter_site: "@gitlab"
twitter_creator: "@gitlab"
suppress_header: true
extra_css:
  - jobs.css
extra_js:
  - jobs.js
---

.jobs-hero
  .flex-container.flex-column.justify-center.align-center
    %h1 Join the GitLab team
    %p Make an impact at one of the world's largest all-remote companies.
    .flex-container.buttons-container.margin-top20
      = link_to "https://boards.greenhouse.io/gitlab", class: "btn cta-btn accent" do
        See open positions
      .btn.cta-btn.btn-white.flex-container.align-center#video-button
        .i.fas.fa-play.play-icon
        Get to know us
      = link_to "/jobs/faq/", class: "btn cta-btn purple" do
        Jobs FAQ

.iframe-container#iframe-container
  %iframe#iframe-video{src: "", frameborder: "0", width: "560", height: "315", allowfullscreen: ""}

.flex-container.full-width.jobs-content-row
  .flex-container.full-width.culture-image-container.jobs-pg-3
  .flex-container.justify-center.align-center.full-width.culture-content-container
    .flex-container.flex-column.flex-start.culture-row-content
      .flex-container.align-center.content-title
        = image_tag "/images/blogimages/working-at-gitlab/gratitude.png", class: "content-icon", alt: "Gitlab gratitude png"
        %h3 A culture of empathy and productivity.
      %ul
        %li
          A culture of
          %a{href: '/handbook/values/#results'} results, not hours spent:
          Flexible hours let us schedule our days so that we do our best work without missing out on life's important moments.
        %li
          %a{href: '/2015/04/08/the-remote-manifesto/#7-give-credit-where-its-due-and-remember-to-say-thank-you'} Kind,
          motivated people: We're caring and quick to give
          #{link_to 'C', '/handbook/values/#collaboration'}#{link_to 'R', '/handbook/values/#results'}#{link_to 'E', '/handbook/values/#efficiency'}#{link_to 'D', '/handbook/values/#diversity-inclusion'}#{link_to 'I', '/handbook/values/#iteration'}#{link_to 'T', '/handbook/values/#transparency'}
          to each other.
        %li
          %a{href: '/handbook/values/#transparency'} Transparent
          and open source: Most of our work is
          %a{href: 'https://gitlab.com/gitlab-org'} open source
          and in collaboration with the
          %a{href: 'http://contributors.gitlab.com/'} wider community.
      = link_to "Learn about our culture", "/company/culture/", class: "btn cta-btn accent"

.flex-container.full-width.jobs-content-row
  .flex-container.justify-center.align-center.full-width.culture-content-container
    .flex-container.flex-column.flex-start.culture-row-content
      .flex-container.align-center.content-title
        = image_tag "/images/blogimages/working-at-gitlab/diversity.png", class: "content-icon", alt: "Gitlab diversity png"
        %h3 Do your best work from anywhere.
      %ul
        %li
          %a{href: '/company/culture/all-remote/'} Fully distributed:
          We're a fully remote and completely distributed team, so we can work wherever we're happiest.
        %li
          %a{href: '/handbook/spending-company-money/'} Buy what you need to be at your best:
          You don't need to ask permission before spending company money like it's your own - whether it's for a standing desk, a co-working space, or continuing education.
        %li
          %a{href: '/company/culture/all-remote/asynchronous/'} Work asynchronously:
          Night owls rejoice! We're dedicated to
          %a{href: '/company/culture/all-remote/asynchronous/'} working asynchronously,
          so we can contribute from anywhere at anytime.
      = link_to "Thriving while fully remote", "/company/culture/all-remote/getting-started/", class: "btn cta-btn accent"
  .flex-container.full-width.culture-image-container.jobs-pg-2

.flex-container.full-width.jobs-content-row
  .flex-container.full-width.culture-image-container.jobs-pg-1
  .flex-container.justify-center.align-center.full-width.culture-content-container
    .flex-container.flex-column.flex-start.culture-row-content
      .flex-container.align-center.content-title
        = image_tag "/images/blogimages/working-at-gitlab/summit.png", class: "content-icon", alt: "Gitlab summit png"
        %h3 Build connections around the world.
      %ul
        %li
          %a{href: '/events/gitlab-contribute/'} GitLab Contribute:
          Our GitLab Contribute events help us build friendships in places like Austin, Mexico, Greece, South Africa and New Orleans.
        %li
          %a{href: '/handbook/incentives/#visiting-grant'} Visit co-workers:
          Travel grants help us visit team members near and far.
        %li
          %a{href: '/company/culture/all-remote/informal-communication/#coffee-chats'} Coffee Chats:
          We build personal connections every day with virtual coffee chats.
      = link_to "How we stay connected", "/company/culture/all-remote/informal-communication/", class: "btn cta-btn accent"

.container.listing-container
  .content.tile
    %h2
      Join a diverse, global team
    %p
      The GitLab team consists of
      %a{href: '/company/team/'} more than 1,400 team members
      and
      %a{href: '/company/team-pets/'} many furry friends
      across
      %a{href: '/company/team/#countries'} dozens of countries.
    %p Joining GitLab means becoming a part of a multi-cultural organization that values diversity, inclusion, and belonging.
    %ul
      %li We have dedicated team member resource groups (GitLab Pride, GitLab Women, GitLab Minorities in Tech, and more) and welcome interest in creating new ones.
      %li
        We hire all over the world so we can work with the best talent. Some teams offer
        %a{href: '/handbook/total-rewards/benefits/general-and-entity-benefits/#part-time-contracts'} part-time contracts.
      %li
        We
        %a{href: '/community/sponsorship/'}  sponsor events and organizations
        that focus on increasing diversity in tech (e.g.
        %a{href: '/2016/02/23/rails-girls-summer-of-code-2016/'} RailsGirls
        and
        %a{href: '/events/'} other events).
      %li
        Our
        %a{href: '/handbook/hiring/interviewing/#typical-hiring-timeline'} inclusive interviewing process
        strives to include diverse team members during the hiring process.
      %li
        We have inclusive benefits and list our
        %a{href: '/handbook/total-rewards/benefits/general-and-entity-benefits/inc-benefits-us/#sts=Transgender%20Medical%20Services'} US Transgender Medical Services
        and
        %a{href: '/handbook/total-rewards/benefits/general-and-entity-benefits/#parental-leave'} Parental Leave
        publicly so candidates don't have to ask about them during interviews.

    .flex-container.buttons-container.margin-top20
    = link_to "https://boards.greenhouse.io/gitlab", class: "btn cta-btn accent" do
      See open positions

  .hidden-xs.teleport-thing
    %iframe{frameborder: "0", height: "500", scrolling: "no", src: "https://gitlab-com.gitlab.io/teampage-map/", width: "100%"}
    <br>
    <br>
    <br>
   
    
